# Django
Django==5.0.1

# Environnement
python-decouple==3.8
python-dotenv==1.0.0

# API
requests==2.31.0

# Images - VERSION STABLE
Pillow==9.5.0  # ← GARANTI STABLE avec Python 3.11

# Production - Render
gunicorn==20.1.0  # Version stable
whitenoise==6.4.0

# Production - Neon.tech (PostgreSQL)
psycopg2-binary==2.9.9
dj-database-url==1.2.0